<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- FireBase for dynamic Web Pages -->
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    <title> StockWrapInfo </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required css and java scripts -->
    <link type="image/icon" rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/swi.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../js/swi.js"></script>
  </head>
  <body style="margin:0 40px; margin-bottom:0;">

    <!-- Load the application script, which will save data to our Firebase app. -->
    <script src="../js/firebaseapp.js"></script>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <a href="home.html">
            <img src="../img/SWI_400x100_logo.jpg"/>
          </a>
        </div>
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-top: 45px;">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="http://stockwrapinfo.com">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="about.html">About Us</a>
                <a class="nav-item nav-link" href="dbservice.html">Database Services</a>
                <a class="nav-item nav-link" href="resources.html">Resources</a>
                <a class="nav-item nav-link" href="contact.html">Contact Us</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- Contact Us Section to move inside the page-->
    <hr>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../img/contact.jpg" alt="contact_img">
        </div>
      </div>
    </div>
    <hr>
    <h2 class="h2-sec">Contact Us</h2><br>
    <div class="container jumbotron " style="padding:20px;margin:10px">
      <p><span class="text-danger">* Required Field.</span></p>
      <div class="row">
        <div class="col">
          <form method="post" name="form1" class="js-form" id="Form1" action=contact.html>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="text-danger">*</span>
                  <label for="fName">First Name:</label>
                  <input type="name" id="fName" name="fn" class="form-control" placeholder="First Name"/>
                </div>
                <div class="col" style="margin-right:450px">
                  <label for="sName">&nbsp Second Name:</label>
                  <input type="name" id="sName" name="sn" class="form-control" placeholder="Second Name"/>
                </div>
              </div>
              <div class="form-group" style="margin-right:450px">
                <span class="text-danger">*</span>
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="ema" class="form-control" placeholder="(e.g) ex@mail.com"/>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <span class="text-danger">*</span>
                    <label for="cCode">Country Code:</label>
                    <input type="text" id="cCode" name="cco" class="form-control" placeholder="(e.g) +1"/>
                  </div>
                  <div class="col" style="margin-right:450px">
                    <span class="text-danger">*</span>
                    <label for="cNumber">Contact Number:</label>
                    <input type="text" id="cNumber" name="cnu" class="form-control" placeholder="Contact Number"/>
                  </div>
              </div>
              <div class="form-group" style="margin-right:450px">
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlTextarea1">&nbsp Comments:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                    </textarea>
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col">
                    <div style="margin-top:10px;">
                    <button id="Bttn-c" type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                  </div>
                  <div class="col">
                    <div style="margin-top:10px;">
                    <button id="Bttn" class="btn btn-primary" style="margin-left:-30em">Submit</button>
                </div>
              </div>
              <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p class="text-center text-info">Thanks For Your Interest !!!</p>
                  <p class="text-center text-success">You're reached us successfully and will get back to you shortly.</p>
                </div>
              </div>
            </div>
                <div>
                  <p style="margin-left: 621px;font-size:small;">Disclaimer -  We'll never share your details with anyone else.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("Bttn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      var fname = document.getElementById("fName").value;
      var sname = document.getElementById("sName").value;
      var emailid = document.getElementById("Email").value;
      var ccode = document.getElementById("cCode").value;
      var cnumber = document.getElementById("cNumber").value;
      var phoneno = /^\d{10}$/;
      if (fname.length !=0 &&  emailid.length !=0 && ccode.length != 0 && cnumber.length !=0 && cnumber == (cnumber.match(phoneno)))
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
  </body>
  <hr class="hr-pad"></hr>
  <footer  style="margin-bottom:15px;"><center class="jumbotron" style="padding:25px"> © 2018 Stock Wrap Info. All Rights Reserved.</center></footer>
</html>
