<!DOCTYPE html>
<html lang="en">
  <head>
    <title> StockWrapInfo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required css and java scripts -->
    <link type="image/icon" rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/swi.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../js/swi.js"></script>
  </head>
  <body style="margin:0 40px; margin-bottom:0;">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <a href="home.html">
            <img src="../img/SWI_400x100_logo.jpg"/>
          </a>
        </div>
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-top: 45px;">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="http://stockwrapinfo.com">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="about.html">About Us</a>
                <a class="nav-item nav-link" href="dbservice.html">Database Services</a>
                <a class="nav-item nav-link" href="resources.html">Resources</a>
                <a class="nav-item nav-link" href="contact.html">Contact Us</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Content of the Database Page -->
    <hr class="hr-pad"></hr>
    <div class="row" style="margin-top:50px;">
      <div class="col jumbotron" style="background-color: #e3f2fd; padding: 10px 10px 10px 30px;">
        <h4> Database Services </h4>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-append-ser" role="tab" aria-controls="nav-home" aria-selected="true"> Appending Services </a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-cus-list" role="tab" aria-controls="nav-profile" aria-selected="true"> Custom Wish Lists</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-mail" role="tab" aria-controls="nav-contact" aria-selected="false"> Email Broadcast Services</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-append-ser" role="tabpanel" aria-labelledby="nav-home-tab" style="margin:30px;">
             <h4 class="text-danger"> Appending services convert single-channel customers into valuable multichannel customers </h4>
             <p style="margin:30px;"> The expenditure on creating, delivering, promoting and examining the results of email campaigns will reach $2.5 billion by 2016, as predicted by Forrester. We know for a fact that the way a business was being done has changed enormously by the web and social networking sites today. There are no more door to door sales happening, as you can connect with your target audience directly from your desktop, where your database plays the major role.</p>
             <p style="margin:30px;"> Let us assume you have been in the business for quite some time now. You have a substantial database of customers which has been collected by you over the years. The mode of building your database could be innumerable like business cards, tradeshows, through vendors, etc. And now, you wish to connect with these customers. You are not sure if the database is still valid or has become obsolete.</p>
             <p style="margin:30px;"> You can either deploy your staff to make calls to your existing database and get it verified or just contact IntenseInfo for Appending services.</p>
             <p style="margin:30px;">IntenseInfo has a set of Appending services to make any database work for you. It is through this process that your database is imported by our system which then matches the information with IntenseInfo's master database. This is faster, quicker and the most viable option for any business which is running ahead of time.</p>
             <h4 class="text-danger"> IntenseInfo has various appending services like: </h4>
             <ul  style="margin:30px; margin-top:0px;">
               <li> Email Appending Service </li>
               <li> Phone Appending Service </li>
               <li> Postal Address Appending Service </li>
               <li> Social Media Appending Service </li>
               <li> Reverse Appending Service. </li>
             </ul>
             <h4 class="text-danger"> Benefits of intenseinfo's appending services </h4>
             <ul  style="margin:30px; margin-top:0px;">
               <li> Connect with your target audience at a much higher level. </li>
               <li> Achieve customer retention through increased relevancy. </li>
               <li> Improve in pulling your customers towards your websites achieved through reduced business costs. </li>
               <li> Kick-start your social marketing strategies at a go. </li>
               <li> Enhance your conversion rates to the maximum. </li>
               <li> Convert single-channel customers into valuable multichannel customers. </li>
               <li> Increase traffic to your website drastically. </li>
             </ul>
          </div>
          <div class="tab-pane fade" id="nav-cus-list" role="tabpanel" aria-labelledby="nav-profile-tab" style="margin:30px;">
              <h5 class="text-danger"> Custom Wish Lists - The kind of customized list that you always wanted for your successful marketing campaigns </h5>
              <p style="margin:30px; margin-top:0px;"> Not everybody has the same wish, then how can we deliver the same list to every customer. This is the reason why Trimaax Data came up with Custom Wish Lists as part of our lead generation services. This is one of the highlights of our services.</p>
              <h5 class="text-danger"> Custom Wish Lists Is: </h5>
              <ul style="margin:30px; margin-top:0px;">
                <li> The kind of list you have always dreamt of using. </li>
                <li> A list which will certainly bring you more revenues. </li>
                <li> A list which resembles no other list. </li>
              </ul>
              <p style="margin:30px;"> If you are planning to conduct a marketing campaign for a specific audience, then your list needs to be custom made with considerably high precision. But unfortunately, most list sellers in the industry take no trouble of listening to your specific requirements before delivering the final list.</p>
              <p style="margin:30px;"> Using the power of our 800-expert telemarketing and data team, you can start with some basic file information and leverage identification of the records you need. For example, as part of our data management services, we had a customer who wanted a list of the top 10,000 bloggers, and another who wanted to know how many elevators were in each building in New York City. You cannot find that type of information in the open market. Our lists are just as unique as your requirements.</p><br>
          </div>
          <div class="tab-pane fade" id="nav-mail" role="tabpanel" aria-labelledby="nav-contact-tab" style="margin:30px;">
            <h5 class="text-danger"> Email Broadcast Services/Fulfillment reach the target audience with email fulfilment solutions. </h5>
            <p style="margin:30px;"> Reaching out to people is easy. But reaching out to the right people with the right message is not. In this digital world, you cannot do without broadcasting to your customers, and what’s a better way than emailing! </p>
            <p style="margin:30px;"> Possessing the right data and not using it to generate quality leads is equivalent to having no data. Using your data to generate interest and awareness, along with generating leads, is what you should intend to do with your database. </p>
            <p style="margin:30px;"> With tight budgets and limited resources in marketing departments, reaching out becomes difficult. Hence, it is only natural that you would expect your outsourcing partner to help you reach out to the world. We provide you the best email data files for your target audience, as well as an impressive campaign and content development team. It will not only create content and HTML codes for you, but will also deliver email campaigns to your targeted audience by selecting recipients from our master database. </p>
            <p style="margin:30px;"> This is one of our popular email fulfilment solutions used for implementing webinars and ongoing email campaigns to generate leads and awareness within a cost-effective budget. If you already own the content, we can broadcast to your target audience basing the operation on our master file. </p>
          </div>
        </div>
      </div>
    </div>
    <div class
  </body>
  <hr class="hr-pad"></hr>
  <footer  style="margin-bottom:15px;"><center class="jumbotron" style="padding:25px"> © 2018 Stock Wrap Info. All Rights Reserved.</center></footer>
</html>
