<!DOCTYPE html>
<html lang="en">
  <head>
    <title> StockWrapInfo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required css and java scripts -->
    <link type="image/icon" rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/swi.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../js/swi.js"></script>
  </head>
  <body style="margin:30px;">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <a href="http://stockwrapinfo.com">
            <img src="../img/SWI_400x100_logo.jpg"/>
          </a>
        </div>
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-top: 45px;">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" style="margin-right:21px;margin-left:12px" href="http://stockwrapinfo.com">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" style="margin-right:21px" href="about.html">About Us</a>
                <a class="nav-item nav-link" style="margin-right:21px" href="dbservice.html">Database Services</a>
                <a class="nav-item nav-link" style="margin-right:21px" href="resources.html">Resources</a>
                <a class="nav-item nav-link" style="margin-right:21px" href="contact.html">Contact Us</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <hr class="hr-pad"></hr>
    <div class="row" style="margin-top:50px;">
      <div class="col-4 jumbotron" style="background-color: #e3f2fd; padding: 10px 10px 10px 30px;">
        <h4> Resourses </h4>
      </div>
    </div>
  </body>
  <hr class="hr-pad"></hr>
  <footer  style="margin-bottom:15px;"><center class="jumbotron" style="padding:25px"> © 2018 Stock Wrap Info. All Rights Reserved.</center></footer>
</html>
